

header {
    background-color: rgb(243, 164, 73);
    padding: 15px;
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    border: 3px solid gray;
    padding: 8px;
  }


/* This is the Background of the Page */
body {
    background-color: rgb(243, 164, 73);
  }
  
 /* This is the Titles of the Page */
  h1 {
    color: white;
    text-align: center;
    background-color: rgb(250, 137, 93);
  }
  
 /* This is the Text of the Page */ 
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(245, 245, 133);
  }
 
 /* This is the Unordered List of the Page */
 
  ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(245, 245, 133);
  }
  
footer{
    color: rgb(170, 4, 4);
    text-align: center;
    background-color: rgb(250, 137, 93);    
}


/* This is the Navigation Bar of the Page */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 5px;
    background-color: #dddddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }